asgiref==3.2.7
click==7.1.2
Django==3.0.14
entrypoints==0.3
flake8==3.7.9
gunicorn==20.0.4
mccabe==0.6.1
plural-ru==2019.4.13
public==2019.4.13
pycodestyle==2.5.0
pyflakes==2.1.1
pytz==2020.1
sqlparse==0.3.1
