<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stepik Travel</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<div class="container mt-3">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Stepik Travel</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#">Из Москвы </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Из Петербурга</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Из Новосибирска</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Из Екатеринбурга</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Из Казани</a>
          </li>
        </ul>
      </div>
    </nav>


    <h1 class="display-5 mt-4">Летим из <span data-test="from">{{ departure }}</span></h1>
    <p class="mb-4" >Найдено <span data-test="tourcount">{{ tours_quantity }}</span>, от <span data-test="pricemin">{{ price_min }}</span> до <span data-test="pricemax">{{ price_max }}</span> и от <span data-test="nightsmax">{{ nights_min }}</span> ночей до <span data-test="nightsmax">{{ nights_max }}</span> ночей</p>
    <!-- HERO -->



    <!-- CARDS -->
      <div class="row mt-5" data-test="cards">
          {% for tour in tours %}
            <div class="col-4" data-test="card">
            <div class="card mb-3" >
            <img src="{{ tour.picture }}" class="card-img-top img-fluid" data-test="picture">
            <div class="card-body">
              <h5 class="card-title">{{ tour.title }}</h5>
             <p class="card-text">{{ tour.description }}</p>
                <a href="/tour/{{ tour.num }}/" class="btn btn-sm btn-primary" data-test="tourlink">Подробнее</a>
            </div>
        </div>
        </div>
          {% endfor %}
    </div>    

</div>

</body>
</html>
  </body>
</html>