{% extends 'templates/base.html' %}
{% block container %}

    <h1 class="display-5 mt-4">Летим из <span data-test="from">{{ departure }}</span></h1>
    <p class="mb-4" >Найдено <span data-test="tourcount">{{ tours_quantity }}</span>, от <span data-test="pricemin">{{ price_min }}</span> до <span data-test="pricemax">{{ price_max }}</span> и от <span data-test="nightsmax">{{ nights_min }}</span> ночей до <span data-test="nightsmax">{{ nights_max }}</span> ночей</p>
    <!-- HERO -->



    <!-- CARDS -->
      <div class="row mt-5" data-test="cards">
          {% for tour in tours %}
            <div class="col-4" data-test="card">
            <div class="card mb-3" >
            <img src="{{ tour.picture }}" class="card-img-top img-fluid" data-test="picture">
            <div class="card-body">
              <h5 class="card-title">{{ tour.title }}</h5>
             <p class="card-text">{{ tour.description|truncatechars:200 }}</p>
                <a href="/tour/{{ tour.num }}/" class="btn btn-sm btn-primary" data-test="tourlink">Подробнее</a>
            </div>
        </div>
        </div>
          {% endfor %}
    </div>    

{% endblock %}